* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NavBar and Header styling */
.header{
    color: white;
    font-size: 40px;
    padding: 20px;
    height: 100vh;
    background-color: #333;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
}

.logo-link{
    text-decoration: none;
    color: white;
}

.logo{
    height: 80px;
    color: white;
    cursor: pointer;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-list li a:hover{
    color : rgb(106, 199, 230)
}

/* Main section Styling */

.main-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.main-content{
    margin-left: 80px;
    margin-bottom: 50px;
}

.about-button a{
    text-decoration: none;
    color: white;
    background-color: rgb(106, 199, 230);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3sec ease;
    cursor: pointer;
}

.about-button a:hover{
    opacity: 0.8;
}

/* socila links styling */

.social-links{
    padding-top: 50px;
    display: flex;
    gap: 10px;
}

.social-link a{
    text-decoration: none;
    color: white;
    transition: opacity 0.3sec ease;
}

.social-link a:hover{
    opacity: 0.8;
}


/* Projects styling */


#projects{
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

#projects h2{
    font: 2em;
    color: #333;
    margin-bottom: 20px;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card{
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.project-card:hover{
    transform: scale(1.05);
    /* transform: rotate(180deg); */
    /* transform: skewY(30deg); */
}

.project-image{
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.project-card h3{
    font-size: 1.5em;
    color: #333;
}


.project-card p{
    padding: 10px;
}

.subtext{
    color: #777
}


.project-link{
    text-decoration: none;
    color: rgb(52, 145, 114);
    font-weight: bold;
}


/* blog section */
#blog{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    margin-top: 200px;
}

.blog-post{
    width: 100%;
    max-width: 600px;
    margin: 20px;
    padding: 15px;
    border: 1px  solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.blog-post:hover{
    transform: scale(1.05);
}


.blog-post img{
   width: 100%;
   border-radius: 8px;
   margin-bottom: 10px;
}


.blog-post h3{
    font-size: 1.rem;
    color: #333;
    margin-top: 10px;
}

.blog-post p{
    color: #555;
    margin-bottom: 15px;
}

/* contact me section */

.contact-container{
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    height: 100vh;
}

.contact-message{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}


input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.names{
    display: flex;
    flex-wrap: wrap;
}

.names-align{
    flex: 1;
    margin-right: 10px;
}

.form-btn{
    background-color: rgb(80, 187, 80);
    padding: 12px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-btn:hover{
    background-color: rgb(9, 106, 9);
}